body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

body.home {
  background-color: #AFB;
}

header {
  background-color: #FED;
  padding: 20px;

  & h1 {
    margin: 0px;
  }
}

nav {
  background-color: #EDC;
  display: flex;

  & a {
    background-color: #0002;
    padding:10px 20px;
    color: #321;

    &:hover, &:active, &:focus {
      background-color: #FFF2;
    }
  } 
}

main {
  padding: 10px 30px 30px;
  min-height: calc(100vh - 220px);
}

footer {
  background-color: #FED;
  padding: 20px;
}

.gallery-item {
  border: 1px solid #666;
  padding: 5px;
  margin: 1px;
  display: inline-block;
}
.gallery-item figure {
  margin: 0px;
}
.gallery-item img,
form span img {
  height: 200px;
  width: 350px;
  object-fit: cover;
  object-position: 50% 50%;
}

#countriestable {
  border-collapse: collapse;
    
  & td, & tr {

    border: 1px solid #ccc;
    padding: 5px;
  }

  & img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

textarea,
input[type='text'],
input[type='email'] {
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  border: thin solid #321;
  border-radius: 3px;
}